body {
	background-color: #151b27;   
	background-image: url(images/dark-wood.jpg);
	color: white;
	margin:0;
    padding:0;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #1380f0;
	text-decoration: none;	
}

h1{
	
	margin-bottom: 35px;
}

h2{
	margin-top: 70px;
	margin-bottom: 35px;	
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
}

iframe.center{
	
	 display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 60px;
	margin-bottom: 50px;
	
}

p#demo{
	text-align: center;
	font-size: 48px;
	margin-top: 40px;
	margin-bottom: 40px;
}


div.playerbox{
	
	background-color: rgba(51, 51, 51, 0.5);
	margin-top: 40px;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:10px;
	    overflow: hidden;
}

div.playerbox img{
	float:left;
	margin-right: 40px;
}	
	
p.newline{
	
	margin-top: 100px;
	
}

.content{
	
	margin-left: 15%;
	margin-right: 15%;
	
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.4);
  font-family: 'Open Sans', sans-serif;
  padding-left: 100px;
  font-variant: small-caps;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height:70px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-variant: small-caps;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
    line-height:70px;
}



.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #336699;
}

.navbar .logo a {
	margin-right:100px;
}

.navbar .logo a:hover{
	background-color:  rgba(51, 51, 51, 0) ;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(166, 166, 166, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
      line-height:20px;
}

/* Add a grey background color to dropdown links on hover 

.dropdown-content a:hover {
  background-color: #ddd;
}

*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


#twitch-embed{
	
	margin-top: 10%;
	margin-left: 15%;
	margin-right: auto;

}

ul.player-list{
	
	columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding-bottom:20px;
	
}

